.Button {
  padding: 3px 10px;
  width: 90px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(68,72,82,.4);
  border: 1px solid;
  border-radius: 14px;
  background-color: rgba(255,255,255,.4);
  cursor: pointer;
  transition: background-color .3s;
}

.Button:hover {
  color: #fff;
  background-color: #0044ea;
  border-color: #0044ea;
  opacity: 1;
}
