.Header {
  width: 100%;
  height: 80px;
  padding-top: 15px;
  background-color: #252A33;
  color: #fff;
}

.Header__container {
  margin: 0 auto;
  width: 1024px;
}

.Header__logo svg {
  height: 50px;
}
