.ImageView {
  position: relative;
  z-index: 5;
}

.ImageView__container {
  margin: 0 auto;
  width: 1024px;
  position: relative;
  overflow: hidden;
}

.ImageViewSettings {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, .65);
}

.ImageViewSettings__backBtn {
  margin-top: 16px;
  flex: 0 0 68px;
  height: 88px;
  line-height: 88px;
  border-right: 1px solid rgba(0,0,0,.3);
}

.ImageViewSettings__backBtn img {
  display: inline-block;
}

.ImageViewSettings__inputsBlock {
  flex: 1;
  display: flex;
  margin-left: 20px;
}

.ImageViewSettings__input {
  margin-top: 40px;
  margin-right: 40px;
  flex: 1;
}
.ImageViewSettings__input:last-of-type {
  margin-right: 0;
}

.ImageViewSettings__auto {
  padding-left: 40px;
  flex: 0 0 150px;
}
.ImageViewSettings__auto .Button {
  margin-top: 57px;
}

.ImageViewControls {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ImageView__image {
  width: 100%;
}
