.Slider {
  color: rgba(0,0,0,.4);
}

.Slider__label {
  margin-bottom: 14px;
  font-size: 14px;
  text-align: left;
}

.Slider__range {
  position: relative;
  cursor: pointer;
}

.Slider__track {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #bebebe;
}

.Slider__handle {
  position: absolute;
  margin-left: -12px;
  width: 54px;
  height: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  font-weight: 300;
}
.Slider__handle:hover .Slider__icon {
  background-color: #0044ea;
}

.Slider__icon {
  float: left;
  width: 24px;
  height: 24px;
  background-color: #a0a4a8;
  border-radius: 12px;
  transition: background-color .3s;
}
.Slider__icon .Icon_sun {
  margin-top: 2px;
}
.Slider__icon .Icon_smoothTriangle {
  margin-top: 6px;
}
.Slider__icon .Icon_circles {
  margin-top: 2px;
}

.Slider__value {
  float: left;
  width: 30px;
  font-size: 14px;
  line-height: 24px;
}
